* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'koodak';
    src: url('font/koodakbold.eot') format('eot');
    src: url('font/koodakbold.woff') format('woff');
    src: url('font/koodakbold.ttf') format('truetype');
}
@font-face {
    font-family: 'yekan';
    src: url('font/yekan.eot') format('eot');
    src: url('font/yekan.woff') format('woff');
    src: url('font/yekan.ttf') format('truetype');
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
html {
    font-family: "Lucida Sans", sans-serif;
}

body {
    font-family: koodak, yekan, Tahoma, serif;
    padding: 0;
    margin: 0;
    direction: rtl;
    border: none;
    background-color: #f5f5f5;

}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: right;
    padding: 15px;
}

/* For mobile: */
.col-1 {width: 8.33333333%;}
.col-2 {width: 16.6666666%;}
.col-3 {width: 25%;}
.col-4 {width: 33.3333332%;}
.col-5 {width: 41.6666665%;}
.col-6 {width: 50%;}
.col-7 {width: 58.3333331%;}
.col-8 {width: 66.6666664%;}
.col-9 {width: 75%;}
.col-10 {width: 83.333333%;}
.col-11 {width: 91.666663%;}
.col-12 {width: 100%;}

.resolution {
    position: fixed;
    z-index: 900;
    width: 100%;
    height: 5px;
    background-color: blue;
    border: none;
}

.invisible {
    display: none;
}
header {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.logining {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 105; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10px;
}
.loginform {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.formanimate {
    /* Add Zoom Animation */
    -webkit-animation: animatezoom 0.3s;
    animation: animatezoom 0.3s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.closelogin {
    position: relative;
    text-align: right;
    margin: 0;
    padding: 0;
}

/* The Close Button (x) */
.closebutton {
    position: relative;
    right: 10px;
    top: 0;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    clear: both;
}

.closebutton:hover,
.closebutton:focus {
    color: red;
    cursor: pointer;
}

.logincontain {
    padding: 20px;
}
.logincontain input[type=text],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.logincontain button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.cancelcontain{
    padding: 20px;
    clear:both;
    overflow: hidden;
}
.cancelcontain button {
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    float: left;

}

.cancelcontain .psw{
    padding-top: 8px;
    text-decoration: none;
}
.header {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;

}
.empty50px{
    margin: 0;
    padding: 0;
    height: 55px;
    width: 100%;
    background-color: transparent;
}
.logcont{
    background-color: #2f2f2f;
    position: relative;
    margin:0;
    padding:0;
    box-shadow: 1px 1px 3px gray;
    z-index: 10;
}
.logcontaine {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.logincont{
    margin:0;
    padding: 0;
}
.logincont div{
    margin: 0;
    padding: 5px;
    text-align: center;
    border-left: 1px solid #19caaf;
}
.logincont div a{
    display: inline-block;
    color:#dafff9;
    margin: auto;
    padding: 5px;
    text-decoration: none;
    transition: 0.4s;
}
.logincont div a:hover{
    color: #ebebeb;
}

.logincont div a i{
    display: inline-block;
    margin:0;
    padding-left:5px;
    float: right;
}

.loginfo {
    display: none;
    margin:0;
    padding: 0;
}
.loginfo div{
    width: 20%;
    margin: 0;
    padding: 0;
    text-align: center;
    float: left;
}
.loginfo div a{
    display: inline-block;
    color: #ffffff;
    margin:0 auto;
    padding: 0;
    text-decoration: none;
    transition: 0.4s;
    font-size: 12px;
}
.loginfo div a i{
    margin: 0;
    padding: 3px 0 0 0;
}
.loginfo div a:hover{
    color: #000000;
}

.headercont {
    margin: 0;
    padding: 0;
    width: 100%;
}
.logo {
    display: block;
    margin:0;
    padding:0;
    vertical-align: bottom;
}
.logo a{
    display: block;
    margin: 0;
    padding: 0;

}
.logo a img{
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.sabadcat{
    display: block;
    position: fixed;
    top: 5px;
    margin: 0;
    padding: 0;
    z-index: 800;
    height: 50px;
    box-shadow: 1px 1px 3px #2f2f2f;
}
.sabadcont{
    display: inline-block;
    background-color:#19caaf;
    margin: 0;
    padding: 5px;
    height: 50px;
    cursor: pointer;

}
.sabadcat .sabadcont i{
    float: right;
    font-size: 32px;
    margin: 0;
    text-align: right;


}
.sabadcont span {
    font-size: 20px;

}
.catcont {
    display: inline-block;
    background-color: #ebfffc;
    margin: 0;
    padding: 5px;
    height: 50px;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 2px;
}

.sidenav a {
    margin: 0;
    padding: 0 20px 5px 5px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: relative;
    font-size: 28px;
    text-align: left;
    padding:0 0 0 10px;
    margin: 0;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.sidenavback {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 899;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.78);
    transition: 0.2s;
}

.navbutton {
    display: inline-block;
    position: relative;
    left: 30px;
    right: 0;
    top: 0;
    padding: 0;
    height: 30px;
    width: 110px;
    margin-left: 20px;
    cursor: pointer;
    float: left;
}
.navbutton a {
    float: left;
}
.navbuttonname {
    display: block;
    position: relative;
    color: #0b574b;
    font-size: 20px;
    margin-left: 10px;
    transition: 0.4s;
}
.navbuttonname:hover {
    text-shadow: 1px 1px 1px rgba(30, 245, 213, 0.4);
}
.navline {
    display: block;
    width: 30px;
    height: 5px;
    padding: 0;
    margin: 5px auto;
    background-color: #0b574b;
    border-radius: 1px;
    transition: 0.4s;
}

.search {
    margin: 0;
    padding: 5px;
    background-color: #ebfffc;
    box-shadow: 2px 2px 2px #ebfffc;
}
.searchbox {
    width: 100%;
    height: 48px;
    margin: 0 auto;
    padding: 0;

}
.searchinput {
    display: inline-block;
    width:80%;
    height: 48px;
    border: 1px solid #19caaf;
    border-left: none;
    border-radius:0 1px 1px 0;
    float: right;
    font-size: 20px;
    transition: 0.5s;
    font-family: koodak, yekan, Tahoma, serif;
}

.searchbtn {
    display: inline-block;
    height: 48px;
    width: 20%;
    background-color: #1199d9;;
    font-size: 28px;
    color: white;
    border: 1px solid #0C6995;;
    border-radius: 1px 0 0 1px;
    cursor: pointer;
    transition: 0.5s;
    padding: 0;
}
.searchinput:focus {
    box-shadow: 0 0 3px #7ac9d6;

}
.searchinput:focus + .searchbtn  {
    background-color: #084562;
    border: none;
    box-shadow: 1px 1px 2px #91f0ff;
}

.category {
    margin: 0;
    padding: 0;
    background-color: #333745;
}
.categorycont {
    width: 75%;
    margin: 0;
    padding: 0;
}
.categorycont div {
    margin: 0;
    padding:5px;
    color: #f1fff8;
    text-align: center;
    font-size: 14px;
    border-left: 1px solid gray;
}
.categorycont div i{
    position: relative;
    font-size: 16px;
    top:4px;
}
.main1 {
    width: 100%;
    padding: 0;
    margin: 0;

}
.baside {
    display: none;
    margin: 0;
    padding: 20px;
}
.specialoff {
    position: relative;
    width: 95%;
    margin:5px 0 0 0;
    padding: 0;
}
.spofhead {
    color: white;
    background: #0C6995;
    background: -webkit-linear-gradient(top, #0095c5, #3f4455,#333745 );
    background: -o-linear-gradient(top, #0095c5,#3f4455,#333745);
    background: -moz-linear-gradient(top, #0095c5, #3f4455,#333745);
    background: linear-gradient(to top, #0095c5, #022b39,#00A1D5);
    text-align: right;
    font-size: 20px;
    margin: 0;
    padding: 5px;
    border-radius: 2px 2px 0 0;
}
.spofcontent {
    color: #484848;
    background-color: #eeeeee;
    text-align: right;
    font-size: 16px;
    margin: 0 0 1px 0;
    padding: 5px 10px 5px 5px;
    cursor:pointer;
    transition: 0.5s;
}
.spofcontent i{
    position:relative;
    transform:rotate(180deg);
    float:left;
    font-size: 16px;
    top: 5px;
    margin: 0;
    padding: 0;
}
.spofcontent:hover{
    color:black;
    background-color: #e0e0e0;
}
.spofcontent:hover .spofdetail{
    display: block;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}


.spofdetail {
    position: absolute;
    display: none;
    width:860px;
    right: 202px;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 10;
    opacity: 0.92;
    transition: 0.5s;
    background: #333745; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #0095c5, #3f4455,#333745 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #0095c5,#3f4455,#333745); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #0095c5, #3f4455,#333745); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #0095c5, #3f4455,#333745); /* Standard syntax */
    -webkit-animation: animatezoom 0.4s;
    animation: animatezoom 0.4s;
}
.spof{
    display: block;
    width: 20%;
    margin: 0;
    padding: 10px;
    float: right;
    cursor: pointer;
    transition: 0.5s;
}
.spofcont {
    margin: 0;
    padding: 1px;
    transition: 0.5s;
    background-color: white;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;

}
.spofcont:hover {
    border: 1px solid #ee494b;
}
.spof img{
    display: block;
    margin: 0 ;
    padding: 0;
    width: 100%;

}
.spofname {
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
    color:black;
    text-align:center;
}

.spofprice{
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
    color:black;
    text-align:center;

}
.spof hr {
    height: 0;
    width: 60%;
    margin: 0 auto;
    padding: 0;
    color: rgba(230, 229, 237, 0.28);
    clear: both;
}
.spoficon{
    display: block;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    color: black;
    overflow: hidden;
    padding: 5px;
}

.productsidecont {
    margin: 20px 0 0 0;
    padding: 5px;
   display: block;
    clear: both;
}
.productside {
    width: 100%;
    margin:  10px 0 0 0;
    padding: 0;
    clear:both;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);

}
.prsideheader {
    padding: 5px;
    margin: 0;
    background-color: #0C6995;
    color:white;
    border-radius: 1px 1px 0 0;
}
.prsidecont{
    padding: 5px;
    margin: 0;
    background-color: #ececec;
    border-bottom: 1px solid #bababa;
}
.prsidecont img{
    display: block;
    width: 25%;
    float: right;
    margin: 0;
    padding: 0;
}
.prsidecont p{
    position: relative;
    margin: 0;
    padding: 0 0 5px 0;
    right: 10px;
    transition: 0.3s;
}
.prsidecont p:hover{
    color: #e6182e;
}
.prsidecontlast{
    border-bottom: none;
}


.smslidecont {
    width: 95%;
    margin: 10px 0 0 0;
    padding: 0;
    background-color: #f4eff0;


}
.smslideheader {
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
    background-color: #0C6995;
}
.smslidetitle {
    display: block;
    width: 64%;
    margin: 0;
    padding: 4px;
    font-size: 18px;
    float: right;
    position: relative;
    top:1px;
}
.smslidebut {
    float: right;
    width: 36%;
    margin: 0;
    padding: 3px;
    display: block;
}

.smslidebut a i{
    color: #0C6995;
    position: relative;
    top:3px;
    border-radius: 50%;
    background-color: white;
    margin: 0;
    padding: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.4s;
}
.smslidebut a i:hover{
    background-color: #3f4455;
    color: white;
}
.smslidebox{
    display:block;
    width: 203px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position:relative;
}
.smslidewide {
    display:block;
    width: 1015px;
    margin: 0;
    padding: 0;
    position:relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
    left: 0;

}
.smslidecontent {
    display: inline-block;
    width: 20%;
    margin: 0;
    padding: 0 5px 5px 5px;
    background-color: #f4eff0;
    float: right;
    position:relative;
}
.smslidecontent img{
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.smslidecontent hr{
    height: 0;
    width: 40%;
    margin: 0 auto;
    padding: 0;
    color: rgba(230, 229, 237, 0.28);
    clear: both;
}
.smslidecontent .spoficon {
    width: 60%;
    margin: 5px auto;
    padding: 0;
    background-color:#0C6995;
    color: white;
    border-radius: 1px;
}
.smslidecontent .spoficon i{
    position: relative;
    float:right;
    right: 10px;
}

.sideslideshowcont{
    margin: 0;
    padding: 5px;
}
.sideslideshow {
    width: 100%;
    height: 300px;
    background-color: #0C6995;
    clear:both;
    margin: 0;
    padding: 0;
}

.brandcont {
    padding: 0;
    margin: 0;
    clear: both;
    overflow: hidden;
}
.brandcontimg {
    width: 50%;
    margin: 0;
    padding:10px 2px 10px 10px;
    float: right;
}
.brandimg {
    width: 100%;
    height: 45px;
    padding:3px;
    margin: 0;
    border-radius: 1px;
    box-shadow: 0 0 3px gray;
    float: right;
}

.row1 {
    width: 100%;
    padding: 0;
    margin: 0;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    margin:0 auto;
    padding: 5px;
    overflow: hidden;
    clear:both;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -40px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 50%;
}

/* Position the "next button" to the right */
.next {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    right: 0;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    border-radius: 50%;
    color: #13fac3;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 28px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 20px;
    width: 40%;
    text-align: center;
    vertical-align: center;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #e62a2a;;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 60px;
    right: 100px;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}
.dotcontain {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 20px;

}
.dotcont {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0;
}
/* The dots/bullets/indicators */
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    border: 1px solid white;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.fade img{
    border-radius: 1px;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

aside {
    display: none;
    padding: 0 !important;
    margin: 0;

}

.etelaat{
    margin: 0;
    padding: 5px;
}
.etela {
    margin: 1px;
    padding: 2px;
    background-color: #f4eff0;
    border-radius:1px;
}
.etela i{
    color: white;
    border-radius: 50%;
    padding: 10px;
    margin: 2px;
    float: right;

}
.etela .etela1{
    background-color: #0C6995;
}
.etela .etela2{
    background-color: #43a0ff;
}
.etela .etela3{
    background-color: #ff9d1b;
}
.etela .etela4{
    background-color: #d1ff00;
}
.etelatext{
    margin: 0;
    padding:0 5px 0 5px;
    text-align: center;
}
.main2 {
    width: 100%;
    margin: 0;
    padding: 30px;
    background-color: #f0f0f6;
    clear:both;
}
.showclothcont {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    clear:both;

}
.showclothheader {
    position:relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #e62a2a;

}
.showclothtitle {
    position:static;
    display: block;
    width: 20%;
    color: white;
    background-color: #0C6995;
    border-left: 1px solid #d6e0ea;
    float: right;
    font-size: 20px;
    text-align:center;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 3px;
}

.showclothtitle:hover {
    background-color: #2f2f2f;
}



.showclothdet {
    display: block;
    width: 100%;
    padding:10px 2px 10px 2px;
    margin:0;
    background-color: #f0f0f6;
    right: 0;

}

.showclothtitle:hover .showclothdet {
    display: block;

}



.showclothimgs {
    width: 50%;
    padding: 20px;
    float: right;
}
.showclothimg {
    padding: 0;
    margin: 0 auto;
    background-color: #ffffff;
    -webkit-animation: animatezoom 0.3s;
    animation: animatezoom 0.3s;
}
.showclothimg:hover {
    border: 1px solid #e62a2a;
}
.showclothimg img{
    width: 100%;
    display: block;
    padding: 0;
    -webkit-animation: animatezoom 0.5s;
    animation: animatezoom 0.5s;

}

.showclothname {
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
    color:black;
    text-align:center;

}
.showclothprice {
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
    color:black;
    text-align:center;
}
.showclothimg hr {
    height: 0;
    width: 60%;
    margin: 0 auto;
    padding: 0;
    color: rgba(230, 229, 237, 0.28);
    clear: both;
}
.showclothicon {
    display: block;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    color: black;
    overflow: hidden;
    padding: 5px;
}
.showclothicon i{
    text-align: center;
    font-size: 24px;
    padding: 0 4px 0 4px;
    margin: 0;
    transform: rotate(0deg);
    transition: 0.4s;
}
.showclothicon i:hover{
color: #e62a2a;
}
.showclothimgslast{display: none;}


footer {border: 1px solid black;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background: #333745; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom, #333745,#005773, #3f4455); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #333745,#005773, #3f4455); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #333745,#005773, #3f4455); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #333745, #005773, #3f4455); /* Standard syntax */
}
.main3 {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}
.aboutus {
    margin: 0;
    padding: 2%;
    color:white;
}
.aboutus hr{
    height: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: 1px dotted rgba(230, 229, 237, 0.28);
    clear: both;
}
.aboutuscontent{
    margin: 0;
    padding: 10px;
    text-align: justify;
}
.main3 hr {
    height: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: 1px dotted rgba(230, 229, 237, 0.28);
    clear: both;
}
.contact{
    margin: 10px;
    padding: 0;
    width: 100%;
    overflow: hidden;
    clear:both;
}
.contacticon{
    margin: 0;
    padding: 5px;
}
.contacticon a{
    display: block;
    width: 16.6666666%;
    padding: 0;
    margin:0;
    text-decoration: none;
    color:white;
    text-align:center;
    float: right;
}
.contacticon a i{
    border-radius: 50%;
    color:white;
    background-color: #009fcf;
    font-size: 32px;
    padding: 8px;
    transition: 0.4s;
    margin: 5px;
}

.contacticon a span{
    position: relative;
    bottom: 10px;
}



.contacticon a i:hover{
    color:#009fcf;
    background-color: #ffffff;
}
.coniconleft {
    float: left;
}
.coniconleft a{
    width: 50%;
}
.copyright {
    width: 100%;
    background-color:#cb0047;
    color: white;
    clear:both;
    padding: 10px;
    text-align:center;
}
@media only screen and (min-width: 601px) {
    /* For tablets: */
    .col-m1 {width: 8.33333333%;}
    .col-m2 {width: 16.6666666%;}
    .col-m3 {width: 25%;}
    .col-m4 {width: 33.3333332%;}
    .col-m5 {width: 41.6666665%;}
    .col-m6 {width: 50%;}
    .col-m7 {width: 58.3333331%;}
    .col-m8 {width: 66.6666664%;}
    .col-m9 {width: 75%;}
    .col-m10 {width: 83.333333%;}
    .col-m11 {width: 91.666663%;}
    .col-m12 {width: 100%;}
    .resolution {  background-color: red;  }
    .text{font-size:32px;}
    .numbertext{font-size: 24px;}

}
@media only screen and (min-width: 800px) {
    /* For monitor: */
    .col-g1 {width: 8.33333333%;}
    .col-g2 {width: 16.6666666%;}
    .col-g3 {width: 25%;}
    .col-g4 {width: 33.3333332%;}
    .col-g5 {width: 41.6666665%;}
    .col-g6 {width: 50%;}
    .col-g7 {width: 58.3333331%;}
    .col-g8 {width: 66.6666664%;}
    .col-g9 {width: 75%;}
    .col-g10 {width: 83.333333%;}
    .col-g11 {width: 91.666663%;}
    .col-g12 {width: 100%;}
    .resolution {  background-color: green;position: static;  }
    header {margin-bottom: 16px;}
    .header{background-color:#ebfffc; }
    .empty50px {display: none;}
    .loginform {width: 50%;}
    .logo{ float: left;height: 60px;}
    .logo a img{height: 60px;}
    .logcont {background-color:#0C6995;box-shadow: none;margin-bottom:18px;}
    .logincont div{border: none; width: 20%;padding: 0;}
    .logincont div a{color: #ffffff;padding: 12px 0 12px 0;font-size: 12px;}
    .logincont div a:hover{color: #000000; }
    .logincont div a i{padding-left: 0;}
    .loginfo {display: block;}
    .sabadcat {position: static;height: 36px;padding:5px;top: 0;box-shadow: none;margin-top: 3px; }
    .sabadcont {background-color: #ffffff;height: 44px;border-radius: 2px;padding: 0;border: 1px solid #333745;}
    .sabadcont i{color: white;background-color: #0f7cb1; font-size: 34px;margin: 0;width: 44px;
        padding: 5px;border-left: 1px solid #333745;}
    .sabadcont span{height: 44px;display: block; width: 85%;font-size: 18px; }
    .catcont{display: none;}
    .category {display: block;margin-top: 18px;}
    .categorycont div{font-size: 16px;}
    .categorycont div i{font-size: 18px;top: 0;}
    .search {margin-top: 3px;   background-color: transparent;box-shadow: none;}
    .searchbox ,.searchinput ,.searchbtn {height: 44px;}
    .searchinput{font-size: 16px;}
    aside{display: block; }
    .text{font-size:32px;}
    .numbertext{font-size: 24px;}
    .showclothimgs {width: 33.3333%;}
    .showclothimgslast{display: block;}

}
@media only screen and (min-width: 1280px) {
    /* For 2k monitor */
    .col-x1 {width: 8.33333333%;}
    .col-x2 {width: 16.6666666%;}
    .col-x3 {width: 25%;}
    .col-x4 {width: 33.3333332%;}
    .col-x5 {width: 41.6666665%;}
    .col-x6 {width: 50%;}
    .col-x7 {width: 58.3333331%;}
    .col-x8 {width: 66.6666664%;}
    .col-x9 {width: 75%;}
    .col-x10 {width: 83.333333%;}
    .col-x11 {width: 91.666663%;}
    .col-x12 {width: 100%;}
    .resolution {  background-color: yellow;  }
    header{}
    .header {}
    .loginform {width: 30%;}
    .logcontainer{width: 1280px; margin: 0 auto;}
    .headercont{width: 1280px; margin: 0 auto;}
    .categorycont {width: 1280px; margin: 0 auto;}
    .baside{ display:block;}
    .main1 {width: 1280px;margin: 0 auto;}
    .text{font-size:48px;}
    .numbertext{font-size: 32px;}
    .showclothimgs {width: 20%;}
    .showclothcont {width: 1280px;}
    .showclothdet .showclothimgs:last-child{display: none;}
    .main3 {width: 1280px;}
}

